* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Elements*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    max-width: 1180px;
    margin: 0px auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*Header*/
/*Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.nav-logo {
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
}

.nav-items a {
    display: block;
    padding: 40px 30px;
    font-weight: 700;
    font-size: 1.2rem;
}

.nav-items a:hover {
    color: white;
    background: linear-gradient(rgb(188, 128, 225), rgb(57, 57, 225));

}

/*Main*/
/*Banner page*/
.banner {
    position: relative;
    width: 100%;
}

.banner img {
    height: 550px;
    width: 100%;
    object-fit: fill;
}

.banner-cards {
    max-width: 1180px;
    position: absolute;
    padding: 0px 50px;
    display: flex;
    color: white;
    top: 500px;
    gap: 20px;
    justify-content: center;
    line-height: 1.1;
}

.cardB {
    padding: 40px;
    padding-bottom: 20px;
    width: 28ch;
    hyphens: auto;
}

.banner-cards h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 600;
    opacity: 0.9;
}

.banner-cards p {
    font-size: 1.2rem;
    opacity: 0.9;
    position: relative;
}

.banner-cards img {
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    aspect-ratio: 4/3;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.cardB:nth-child(1) {
    background: linear-gradient(rgb(229, 215, 63), hsl(31, 100%, 50%));
}

.cardB:nth-child(2) {
    background: linear-gradient(rgb(223, 70, 223), rgb(57, 57, 218));
}

.cardB:nth-child(3) {
    background: linear-gradient(rgb(236, 50, 50), rgb(223, 36, 154));
}

.cardB:nth-child(4) {
    background: linear-gradient(rgb(237, 78, 160), rgb(181, 27, 181));
}


/*Home Page*/
#home {
    padding-top: 210px;
}

.home-cards {
    display: flex;
    padding: 0px 50px;
    gap: 25px;
    margin: 40px 0px;
}

.card {
    max-width: 533px;
    flex: 1;
    padding: 70px 40px;
    align-items: center;
    background-color: rgb(246, 246, 246);
}

.card-img {
    padding: 0;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.1rem;
    width: 45ch;
    hyphens: auto;
}

.btn {
    padding: 20px 40px;
    text-align: center;
    color: white;
    margin: 30px 0px;
    border: none;
    background: linear-gradient(to right, orange, red);
}

/*About Page*/
#about {
    width: 100%;
    position: relative;
    display: flex;
    height: 500px;
    background: url(images/swimming-bg1.jpg) center/cover;
}

.overlay-content {
    width: 50%;
}

.overlay {
    width: 90%;
    opacity: 0.85;
    height: 500px;
    margin: 0px 50px;
    background: linear-gradient(rgb(218, 61, 87), rgb(236, 30, 129));
}

.content {
    width: 50%;
    top: 0;
    left: 25px;
    position: absolute;
    opacity: 1;
    color: white;
    padding: 50px 90px;
}

.overlay-content h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.overlay-content p {
    font-size: 1rem;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    width: 41ch;
    hyphens: auto;
}

.overlay-content button {
    border: none;
    padding: 20px 50px;
    text-align: center;
    margin: 40px 0px;
}

/*Gallery Page*/
.gallery-card {
    background: linear-gradient(rgb(254, 187, 51), rgb(255, 132, 0));
    color: white;
    padding: 50px 0px 50px 70px;
    height: 402px;
    flex: 1;
}

.gallery-card h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.gallery-card li {
    margin-left: 20px;
    list-style-type: circle;
    line-height: 2;
    font-size: 1.2rem;
}

.gallery-img {
    padding: 0;
    aspect-ratio: 4/3;
    flex: 1;
}

.gallery-img img {
    object-fit: cover;
    max-width: 531px;
    width: 100%;
}

/*Blog Page*/
.blog-posts {
    display: flex;
    margin: 40px 50px;
    gap: 20px;
}

.post {
    width: calc(100%/4);
    background-color: rgb(246, 246, 246);
    position: relative;
    align-items: center;
    margin-top: 95px;
    padding: 30px;
    padding-top: 95px;
}

.post img {
    border-radius: 100px;
    position: absolute;
    aspect-ratio: 1;
    bottom: 220px;
    right: 50px;
    left: 50px;

}

.post p {
    line-height: 1.3;
    font-size: 1.1rem;
    opacity: 0.65;
    margin-bottom: 35px;
    width: 19ch;
    hyphens: auto;
}

.post span {
    color: #ff5f24;
    font-size: 1.5rem;
    position: absolute;
    bottom: 30px;
}

/*Contact Page*/
.contacts {
    display: flex;
    margin: 0px 50px;
    gap: 25px;
    justify-content: space-between;
}

.contact-info {
    height: 400px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 40px 50px;
    padding-bottom: 20px;
    line-height: 1.8;
    background: linear-gradient(cornflowerblue, rgb(10, 112, 255));
}

.contact-info h2 {
    font-size: 2.8rem;
}

.contact-info p {
    font-size: 1.2rem;
    opacity: 0.8;
}

.contact-info span {
    letter-spacing: 2;
    font-size: 2.4rem;
}

.circles {
    display: flex;
    gap: 10px;
}

.circle {
    width: 30px;
    margin-top: 18px;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    background-color: white;
}

.maps {
    height: 400px;
    width: 100%;
    background: url(images/map.png) center/cover;
}

/*Footer*/
footer p {
    margin: 50px 0px;
    text-align: center;
    color: rgb(162, 162, 162);

}