* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    max-width: 1180px;
    margin: 0px auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.banner-cards img {
    display: flex;
    object-fit: cover;
    justify-content: space-between;
}

.nav-logo {
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
}

.nav-items li {
    padding: 40px 30px;
    font-weight: 700;
    font-size: 1.2rem;

}

.nav-items li:hover {
    color: white;
    background: linear-gradient(rgb(188, 128, 225), rgb(57, 57, 225));
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    height: 550px;
    width: 100%;
    object-fit: fill;
}

.banner-cards {
    max-width: 1180px;
    position: absolute;
    padding: 0px 50px;
    display: flex;
    color: white;
    top: 500px;
    gap: 20px;
    justify-content: center;
    line-height: 1.1;
}

.banner-cards img {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.banner-cards div {
    padding: 40px;
    padding-bottom: 20px;
    width: calc(100/4);
}

.banner-cards h2 {
    font-size: 2.2rem;
    font-weight: 600;
    opacity: 0.9;

}

.banner-cards p {
    font-size: 1.2rem;
    opacity: 0.9;
    position: relative;
}

#card1 {
    background: linear-gradient(rgb(229, 215, 63), hsl(31, 100%, 50%));
}

#card2 {
    background: linear-gradient(rgb(223, 70, 223), rgb(57, 57, 218));
}

#card3 {
    background: linear-gradient(rgb(236, 50, 50), rgb(223, 36, 154));
}

#card4 {
    background: linear-gradient(rgb(237, 78, 160), rgb(181, 27, 181));
}

/*Home*/
#home{
    padding-top: 210px;
}
.home-cards {
    display: flex;
    padding: 0px 50px;
    gap: 20px;
    margin: 40px 0px;
}
.card{
    padding: 70px 40px ;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}
.I{
    padding: 0;
}

.card img{
    height: 400px;
    object-fit: cover;
}
.card h2{
    line-height: 1.2;
    font-size: 2.5rem;
}

.card p{
    font-size: 1.1rem;
}

.btn{
    padding: 20px 40px;
    text-align: center;
    color: white;
    margin: 30px 0px;
    border: none;
    background:linear-gradient(to right, orange,red);
}